{% extends 'base-header.html.twig' %}

{% block title %}Fakturz - Login{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('login') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('login') }}    
{% endblock %}

{% block main %}
    <div class="wrapper-form">
        <div class="container-form">
            <span>Connexion</span>
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
    
                {% if app.user %}
                    <div class="mb-3">
                        You are logged in, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}
                <div class="input-email">
                    <label for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                </div>
                <div class="input-password">
                    <label for="inputPassword">Mot de passe</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <button class="btn btn-lg btn-primary" type="submit">VALIDER</button>
            </form>
            <a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié</a>
        </div>
    </div>
    <div class="wrapper-image">
        <img src="{{ asset('build/images/invoice-img.png') }}" alt="">
    </div>
{% endblock %}   
