{% extends 'base-header.html.twig' %}

{% block title %}Fakturz - Home
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('home') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('home') }}
{% endblock %}

{% block main %}
	<div class="wrapper-form">
		<div class="container-form">
			<span>GESTION CLIENTS</span>
			<h1>Devis - Factures</h1>
			<h3>
				Fakturz vous facilite la gestion de vos factures. </br>
				L’interface simple et puissant vous permet de créer, </br>
				gérér et envoyer vos factures a vos clients.
			</h3>
				<div id="register-button">
                <a href="{{ path("app_register") }}" id="register-text">INSCRIPTION</a>
                </div>

		</div>
	</div>
	<div class="wrapper-image">
		<img src="{{ asset('build/images/image_home.png') }}" alt="">
	</div>
{% endblock %}
