{% extends "base-header.html.twig" %}

{% block title %}Fakturz - Registration{% endblock %}

{% block stylesheets %}
{{ parent() }}
{{ encore_entry_link_tags('register') }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('register') }}
{% endblock %}

{% block main %}
<div class="wrapper-form">
    <div class="container-form">
        <span>Inscription</span>
        {{ form_start(registrationForm) }}
        <div class="container-last-first-name">
            {{ form_row(registrationForm.firstName) }}
            {{ form_row(registrationForm.lastName) }}
        </div>
        {{ form_rest(registrationForm) }}
        <button type="submit">VALIDER</button>
        {{ form_end(registrationForm) }}
        <a href="{{ path('app_login') }}">J'ai un compte, connexion</a>
    </div>
</div>
<div class="wrapper-image">
    <img src="{{ asset('build/images/invoices-img.png') }}" alt="">
</div>
{% endblock %}