{% extends 'base.html.twig' %}

{% block title %}Fakturz - Products{% endblock %}

{% block body %}
    <div>Nouveau produit</div>
    <br>
    <br>
   {{ form_start(form) }}
        {{ form_rest(form) }}
        <button type="submit">Créer</button>
   {{ form_end(form) }}
{% endblock %}