{% extends 'base.html.twig' %}

{% block title %}Fakturz - Products{% endblock %}

{% block body %}
    Liste des produits et services
    <table border="1">
        <tr>
            <th>Produit</th>
            <th>Prix unitaire</th>
            <th>TVA</th>
            <th></th>
        </tr>
        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.tva ~ ' %' }}</td>
                <td>
                    <a href="{{ path('products_update', {'id': product.id}) }}">modifier</a>
                    <a href="{{ path('products_delete', {'id': product.id, 'token': csrf_token('delete'~product.id)}) }}">supprimer</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
