{% extends 'base.html.twig' %}

{% block title %}Fakturz - Products{% endblock %}

{% block body %}
    Edition du produit
    <table border="1">
        <tr>
            <th>id</th>
            <th>name</th>
        </tr>
        <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
        </tr>
    </table>
    <br>
    <br>
   {{ form_start(form) }}
        {{ form_rest(form) }}
        <button type="submit">Modifer</button>
   {{ form_end(form) }}
{% endblock %}