.indicator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 100px;
    border: 1px solid #dfe0eb;
    border-radius: 8px;
    margin-left: 30px;

    .indicator-name {
        font-family: sans-serif;
        font-size: 15px;
        color: #9fa2b4;
    }
    .indicator-value {
        font-family: sans-serif;
        font-size: 25px;
        color: #000;
        margin-top: 20px;
    }
}