$text-color-primary: #000;
$text-color-secondary: #fff;
$text-color-thirdly: #757575;
$green-link: #1fc063;
$white-link: #fff;

// sidebar links --------------------------
.sidebar-link {
    display: flex;
    text-decoration: none;

    img {
        width: 20px;
        height: 20px;
    }

    span {
        align-self: center;
        margin-left: 15px;
        font-family: sans-serif;
        font-size: 16px;
        color: $text-color-secondary;
    }
}

// header links ---------------------------
.header-link, .header-link-index, .header-link-login, .header-link-register {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 25px;
    height: 50px;

    span {
        font-family: sans-serif;
        font-size: 25px;
        font-weight: 400;
        color: $text-color-primary;
    }
}
.header-link-index {
    margin-left: 80px;
    span {
        font-weight: 700;
    }
}

.header-link-login {
    background-color: $white-link;

    span {
        margin-left: 15px;
        margin-right: 15px;
    }
}

.header-link-register {
    background-color: $green-link;
    margin-left: 35px;
    margin-right: 100px;

    span {
        color: $text-color-secondary;
        margin-left: 15px;
        margin-right: 15px;
    }
}

// register link ---------------------------
.register-link {
    span {
        align-self: center;
        margin-top: 20px;
        outline: none;
        color: $text-color-thirdly;
    }
}