.wrapper-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

header {
    display: flex;
    width: 100%;
    height: 100px;

    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 100%;

        .wrapper-link-usage {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
        }

        .container-link-usage, .container-link-auth {
            display: flex;
            flex-direction: row;
            align-items: center;
            
        }

        .container-link-usage {
            justify-content: space-evenly;
            width: 70%;
        }

        .container-link-auth {
            flex: 0.5;
            justify-content: flex-end;
            width: 100%;
            height: 100%;
        }
    }
}
