.wrapper-sidebar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

$sidebar-dark: #242625;
$app-name-color: #1FC063;
$text-color: #fff;

.sidebar {
    display: flex;
    flex-direction: column;
    width: 250px;
    max-width: 250px;
    height: 100%;
    background-color: $sidebar-dark;
    box-shadow: 1px 0px 0px #dedede;
}
.sidebar>* {
    margin-left: 25px;
}

.sidebar-block-1 {
    display: flex;
    margin-top: 80px;

    .sidebar-avatar {
        display: flex;
        justify-content: center;
        width: 45px;
        height: 45px;
        border-radius: 8px;
        background-color: #a492ff;
    
        span {
            align-self: center;
            font-family: sans-serif;
            font-size: 16px;
            color: $text-color;
        }
    }
    .sidebar-avatar-name {
        display: flex;
        flex-direction: column;
        align-self: center;
        
        span {
            font-family: sans-serif;
            font-size: 14px;
            color: $text-color;
            margin-left: 10px;
        }
    }
}

.sidebar-block-2 {
    color: $app-name-color;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-top: 25px;
}

.sidebar-block-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;

    a {
        margin-top: 25px;
    }
}

.sidebar-block-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}