.dashboard {
    display: flex;
    width: 100%;
    height: 100%;
}
main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .indicators {
        display: flex;
        margin-top: 100px;
    }
}
main>* {
    margin-left: 50px;
}