@import "./global-variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
.home {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    overflow: auto;
    font-family: 'Poppins', sans-serif;
}

.wrapper-form {
    display: flex;
    width: 100%;
    height: 100%;
}

.container-form {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-top: 100px;
    
    span {
        align-self: flex-start;
        font-family: sans-serif;
        font-weight: 700;
        font-size: 40px;
        color: #000;
    }
    
    form>* {
        margin-top: 25px;
    }
    form {
        display: flex;
        flex-direction: column;
        margin-top: 30px;

        .input-email, .input-password {
            display: flex;
            flex-direction: column;
        }

        label {
            font-family: sans-serif;
            font-size: 12px;
            font-weight: 600;
        }

        input {
            box-sizing: border-box;
            width: 500px;
            height: 40px;
            background-color: #f2f2f2;
            border-radius: 3px;
            font-family: sans-serif;
            font-size: 14px;
            font-weight: 400;
            outline: none;
            border: none;
            margin-top: 10px;
            padding-left: 10px;
        }
    }
}

#register-button {
    width: 200px;
    display: flex;
    height: 40px;
    background-color: $primary-green;
    border-radius: 30px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

#register-text {
    text-decoration: none;
    text-align: center;
    color: white;
}

.wrapper-image {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: $primary-purple;
    border-radius: 100%;
    width: 100%;
    height: 100%;

    img {
        align-self: center;
        width: 600px;
    }
}