main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.wrapper-form {
    display: flex;
    width: 100%;
    height: 100%;
}

.container-form {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-top: 100px;
    
    span {
        align-self: flex-start;
        font-family: sans-serif;
        font-weight: 700;
        font-size: 40px;
        color: #000;
    }
    
    form>* {
        margin-top: 25px;
    }
    form {
        display: flex;
        flex-direction: column;
        margin-top: 30px;

        .input-email, .input-password {
            display: flex;
            flex-direction: column;
        }

        label {
            font-family: sans-serif;
            font-size: 12px;
            font-weight: 600;
        }

        input {
            box-sizing: border-box;
            width: 500px;
            height: 40px;
            background-color: #f2f2f2;
            border-radius: 3px;
            font-family: sans-serif;
            font-size: 14px;
            font-weight: 400;
            outline: none;
            border: none;
            margin-top: 10px;
            padding-left: 10px;
        }

        button {
            width: 500px;
            height: 40px;
            background-color: #2D7FF9;
            border-radius: 3px;
            text-align: center;
            font-size: 14px;
            color: #fff;
            outline: none;
            border: none;
            opacity: 0.5;
            cursor: pointer;
        }
    }

    a {
        align-self: center;
        margin-top: 20px;
        outline: none;
        color: #757575;
    }
}

.wrapper-image {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100%;

    img {
        align-self: flex-end;
        width: 400px;
        height: 400px;
        margin-right: 100px;
    }
}