{% extends 'base.html.twig' %}

{% block title %}Fakturz - Company{% endblock %}

{% block body %}
    <h3>Coordonnées de l'entreprise</h3>
    {{ form_start(form) }}
        {{ form_widget(form.logoFile) }}
        {{ form_rest(form) }}
        <button type="submit">Enregistrer</button>
    {{ form_end(form) }}
{% endblock %}
