{% extends "base.html.twig" %}

{% block body %}
    <div class="wrapper-sidebar">
        <div class="sidebar">
            <div class="sidebar-block-1">
                <div class="sidebar-avatar">
                    <span>J</span>
                </div>
                <div class="sidebar-avatar-name">
                    <span>John Doe</span>
                    <span>johndoe@gmail.com</span>
                </div>
            </div>
            <span class="sidebar-block-2">FAKTURZ</span>
            <div class="sidebar-block-3">
               {{ include('components/link.html.twig', {pathName: 'dashboard', logo: 'build/images/home.png', text: 'Dashboard', className: 'sidebar-link'}) }}
               {{ include('components/link.html.twig', {pathName: 'products_list', logo: 'build/images/product.png', text: 'Produits', className: 'sidebar-link'}) }}
               {{ include('components/link.html.twig', {pathName: 'client_index', logo: 'build/images/customer.png', text: 'Clients', className: 'sidebar-link'}) }}
               {#{ include('components/link.html.twig', {pathName: '', logo: 'build/images/quote.png', text: 'Devis', className: 'sidebar-link'}) }#}
               {#{ include('components/link.html.twig', {pathName: '', logo: 'build/images/invoice.png', text: 'Factures', className: 'sidebar-link'}) }#}
               {{ include('components/link.html.twig', {pathName: 'account', logo: 'build/images/account.png', text: 'Mon compte', className: 'sidebar-link'}) }}
            </div>
            <div class="sidebar-block-4">
                {{ include('components/link.html.twig', {pathName: 'app_logout', logo: 'build/images/logout.png', text: 'Déconnexion', className: 'sidebar-link'}) }}
            </div>
        </div>
        <main>
            {% block main %}{% endblock %}
        </main>
    </div>
{% endblock %}