{% extends "base.html.twig" %}

{% block body %}
    <div class="wrapper-header">
        <header>
            <nav>
                {{ include('components/link.html.twig', {pathName: 'app_login', text: 'FAKTURZ', className: 'header-link-index'}) }}
                <div class="wrapper-link-usage">
                    <div class="container-link-usage">
                        {{ include('components/link.html.twig', {pathName: 'app_login', text: 'Expertise', className: 'header-link'}) }}
                        {{ include('components/link.html.twig', {pathName: 'app_login', text: 'Tarifs', className: 'header-link'}) }}
                        {{ include('components/link.html.twig', {pathName: 'app_login', text: 'Contacter', className: 'header-link'}) }}
                    </div>
                </div>
                <div class="container-link-auth">
                    {{ include('components/link.html.twig', {pathName: 'app_login', text: 'Connexion', className: 'header-link-login'}) }}
                    {{ include('components/link.html.twig', {pathName: 'app_register', text: 'Inscription', className: 'header-link-register'}) }}
                </div>
            </nav>
        </header>
        <main>
            {% block main %}{% endblock %}
        </main>      
    </div>
{% endblock %}