{% extends 'base.html.twig' %}

{% block title %}Fakturz - Dashboard{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('dashboard') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('dashboard') }} 
    <link
    rel=
"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
    type="text/css"
  />
  <script src=
"https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script
    src=
"https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"
    type="text/javascript"
  ></script>
  <script src=
"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  
  <script src=
"https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.min.js"></script>
  <style>
    .container {
      width: 80%;
      margin: 15px auto;
    }
    body {
      text-align: center;
      color: green;
    }
    h2 {
      text-align: center;
      font-family: "Verdana", sans-serif;
      font-size: 30px;
    }
   input[type="text"], textarea {

  background-color : black;
  color: white;

}
input::-webkit-input-placeholder {
    color:red;
}

input::-moz-placeholder {
    color:red;
}

input::-ms-placeholder {
    color:red;
}

input::placeholder {
    color:red;
    }
  </style>

    <script>
        window.addEventListener("load",function(event){
            console.log("test");
            var ctx = document.getElementById("myChart").getContext("2d");
    var myChart = new Chart(ctx, {
      type: "line",
      data: {
        labels: [
          "Monday",
          "Tuesday",
          "Wednesday",
          "Thursday",
          "Friday",
          "Saturday",
          "Sunday",
        ],
        datasets: [
          {
            label: "work load",
            data: [2, 9, 3, 17, 6, 3, 7],
            backgroundColor: "rgba(153,205,1,0.6)",
          },
          {
            label: "free hours",
            data: [2, 2, 5, 5, 2, 1, 10],
            backgroundColor: "rgba(155,153,10,0.6)",
          },
        ],
      },
    });
        });

        window.onload=init();

        function init(){
            
        };

    
  </script>

{% endblock %}

{% block body %}
  <div class="row align-items-center w-100 p-3" style="background-color: white!important;font-size: 1rem;bottom:0;position:relative;">
    <div class="col-2 h-100">
                                
                         {{ include('components/sidebar.html.twig') }}

                         
                         
   </div>

    <div class="col-10 h-100">
          <div class="row align-items-center w-100" style="padding-top:5%;padding-bottom:10%;background-color: white!important;font-size: 1rem;bottom:0;position:relative;">
                   <div class="col-2 h-100">
                                                               <div class="input-group col-md-4">
                                                               <span class="input-group-append" style="background-color:black;">
                                         <button class="btn btn-outline-secondary" type="button">
                                             <i class="fa fa-search"></i>
                                         </button>
                                       </span>
                                        <input type="text" class="form-control" placeholder="search" aria-label="Recipient's username" aria-describedby="basic-addon2" id="search" type="search" name="search">


                                       
                                 </div>

                   </div>
          </div>
          <div class="row align-items-center w-100 p-3 justify-content-between" style="color:black;background-color: white!important;font-size: 1rem;bottom:0;position:relative;">
                    <div class="col-3 h-70 w-80 justify-content-center align-self-center border border-primary rounded" style="width:20%;">
                                                                    <p style="margin:8%;">Ce mois</p>
                                                                     <br><p style="font-size:2rem;margin:2%;"><bold>10</bold></p>
                    </div>
                    <div class="col-3 h-70 w-80 justify-content-center align-self-center border border-primary rounded" style="width:20%;">
                                                                    <p style="margin:8%;">En retard</p>
                                                                     <br><p style="font-size:2rem;margin:2%;"><bold>2</bold></p>
                    </div>
                    <div class="col-3 h-70 w-80 justify-content-center align-self-center border border-primary rounded" style="width:20%;">
                                                                    <p style="margin:8%;">Transcation</p>
                                                                     <br><p style="font-size:2rem;margin:2%;"><bold>100 €</bold></p>
                    </div>
                    <div class="col-3 h-70 w-80 justify-content-center align-self-center border border-primary rounded" style="width:20%;">
                                                                    <p style="margin:8%;">Clients</p>
                                                                     <br><p style="font-size:2rem;margin:2%;"><bold>10</bold></p>
                    </div>
                    
          </div>
          <div class="row align-items-center w-100 p-3" style="color:black;margin-top:6%;background-color: white!important;font-size: 1rem;bottom:0;position:relative;">
                   <div class="col-12 h-100">
                   <p style="font-size:2rem;"><bold>Factures générés</bold></p>
                  <p>25 Mai 2020,09:41</p>
                   </div>
          </div>
          <div class="row align-items-center w-100 p-3" style="background-color: white!important;font-size: 1rem;bottom:0;position:relative;">
                   <div class="col-12 h-100">
                           {{ include('components/chart.html.twig') }}
                   </div>
          </div>
    
       
    </div>
  </div>
    <!--
    <main>
                              <div class="indicators">
                                 {{ include('components/indicator.html.twig', {name: 'Ce mois', value: '10'}) }}
                                 {{ include('components/indicator.html.twig', {name: 'En retard', value: '2'}) }}
                                 {{ include('components/indicator.html.twig', {name: 'Transcation', value: '100 €'}) }}
                                 {{ include('components/indicator.html.twig', {name: 'Clients', value: '10'}) }}
                              </div>
                         </main>
            -->
   


{% endblock %}

